body{
    margin-right: 0%;
    margin-left: 0;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image: url('shop-img/Title.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-position-x: center;
}

header{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 202, 21);
    margin-right: 0%;
    
}

nav{
    display: flex;
    list-style: none;
    align-items: center;
    width: 98vw;
    justify-content: center;
    flex-wrap: wrap;
    
}

li {

    padding-bottom: 5px;
    margin-left: 20px;
    font-size: 15px;
    color: #000;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li:hover {
    border-bottom: 3px solid black;
}


footer{
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    height: 700px;
    background-color: #000;
    color: white;
}


.FD1{

    width: 98%;
    height: 45%;
    display: flex;
}
.ff01{
    width: 50%;
    
}
.footer1{
    color: white;

    height: 30%;
    display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
    
}

.footer02{
    display: flex;
    flex-direction: row;

    align-items: top;
    height: 70%;
}
.footer01{

    align-items: center;
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}
h4{
    margin-left: 3%;
}
.for{

    display: flex;
}
.footer22{
    height: 30%;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footer2{
    align-items: center;
    height: 70%;
    color: white;

    justify-content: center;
    display: flex;
    align-items: center;
}



.FD2{
    border: 1px solid gray;
    width: 99%;
    height: 45%;
    
}
.FD3{
    width: 100%;
    height: 10%;
    
}

.F2{
    color: white;

    width: 25%;
    height: 70%;

}

.F3{
    color: white;
    width: 100%;
    height:auto;
    display: flex;
}

.h31{
    display: flex;
    justify-content: center;
   
}
.FD2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
hr{
    border: 1px solid grey;
}

.ff{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
    color: white;
}

.c{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
    color: white;
}
.a0{
    display: flex;
    margin-left: 6%;
    margin-top: 4%;
}

.f0{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0%;
    color: white;
    height: 40%;
}
.F03{
    color: white;

    width: 100%;
    height:70%;
    display: column;
}
.FD301{
    display: flex;
    align-items: center;
    margin-left: 1%;
    width: 70%;
    justify-content: space-around;
}

.FD3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.visa{
    color: yellow;
    font-size: 23px;
}

main{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

.body{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;
    justify-content: space-between;
    color: black;
}

.main1{
    width: 45%;
    height: 100%;
    margin-top: 2.5%;
}

.id1{
    width: 90%;
    background-color: rgb(219, 211, 211);
    border: none;
    height: 30px;
    margin-left: 3%;
}
.id2{
    background-color:  rgb(248, 214, 64);
    border: none;
    width: 30%;
    height: 50px;
}
.id3{
    background-color:  rgb(177, 215, 80);
    border: none;
    width: 30%;
    height: 50px;
    color: white;
}

.d{
    width: 20px;
    height: 20px;
    color: rgb(216, 183, 37);
    border: none;
    background-color: none;
}
.a{
    margin-left: 0%;
    color: rgb(149, 149, 149);
}
.s{
    color: rgb(216, 183, 37);
    margin-left: 2%;
    margin-bottom: -1%;
    border: 1px solid rgb(216, 183, 37);
    background-color: none;
}
.color{
    color: rgb(149, 149, 149);
}

.e{
    margin-top: 3%;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.arber{
    width: 68%;
    height: 50px;
    background-color: rgb(240, 208, 68);;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.ejupi{
    width: 32%;
    height: 50px;
    background-color: rgb(243, 202, 21);;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.A01{
    display: flex;
    align-items: top;
    width: 50%;
    height: 100%;

    align-items: center;
}
